<div class="tab sounds scrollable{{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
    <header>
        <div class="name">Sounds</div>
        <div class="duration">Duration</div>

        <div class="controls">
            {{#unless @root.cantAdd}}
            <a data-action="addSound"><i class="fa-regular fa-square-plus"></i></a>
            {{/unless}}
        </div>
        <div class="controls">
            {{#unless @root.cantDelete}}
            <a data-action="deleteSounds" data-tooltip="Clear Selected Sounds">
                <i class="fas fa-dumpster"></i>
            </a>
            {{/unless}}
        </div>
    </header>

    <ol class="scrollable sound-list" data-sounds>
        {{#each sounds as |sound i|}}
        <li class="sound draggable" data-index="{{i}}" draggable="true" data-sound-id="{{sound.id}}">
            <div class="name">
                <input type="checkbox" name="{{concat "sounds." sound.id ".selected"}}" data-action="selectSound" />
                {{{sound.name}}}
            </div>

            <div class="duration">
                {{{sound.duration}}}
            </div>

            <div class="controls">
                <a data-action="playSound"><i class="fas fa-play" data-tooltip="Play Sound"></i></a>
            </div>

            <div class="controls">
                {{#unless @root.cantDelete}}
                <a data-action="deleteSound" data-tooltip="Delete Sound"><i class="fas fa-trash-can"></i></a>
                {{/unless}}
            </div>
        </li>
        {{/each}}
    </ol>
</div>